body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
}

#action-btn{
    margin-top: 2%;
}

#input-video{
    padding-bottom: 2%;
    padding-left: 5%;
}